body {

    font-family: Arial, sans-serif;
    background-image: url(weather.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    padding: 0;
}

h1{
    margin-inline:  32%;
    color: rgb(0, 0, 0);
}

.container {
    max-width: 800px;
    margin: 150px auto;
    padding: 45px;
    background-color: #b6dcff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-card {
    margin-inline:  25%;
    margin-top: 20px;
    padding: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#weatherInfo {
    color: black;
    margin-top: 20px;
    font-size: 150%;
}
